streamlit==1.50.0
numpy==1.26.4
Pillow==11.0.0
pandas==2.3.3
requests==2.32.5
deep-translator==1.11.4
openai==2.8.1
gTTS==2.5.4
pydantic==2.12.4
typing-extensions==4.15.0
tenacity==9.1.2
pydeck==0.9.1
toml==0.10.2
